---
import { MarkdownInstance } from "astro";
import { parse } from "node-html-parser";
import { Frontmatter } from "src/misc";

export interface Props {
  content: MarkdownInstance<Frontmatter>;
  lazyLoading?: boolean;
}

const { content, lazyLoading } = Astro.props as Props;

const description =
  content.frontmatter.description ||
  parse(await content.compiledContent()).querySelector("p:first-of-type")
    ?.innerText;
---

<div
  class="card sm:card-side bg-base-200 max-w-[90%] mx-auto scale-1 hover:scale-105 transition-[scale_250ms focus-within:outline focus-within:outline-2 focus-within:outline-secondary rounded-none"
>
  {
    content.frontmatter.image ? (
      <a href={content.url} class="max-h-1/2">
        <img
          loading={lazyLoading ? "lazy" : "eager"}
          class="max-h-1/2 w-full "
          src={content.frontmatter.image}
          alt={
            content.frontmatter.imageDescription ?? content.frontmatter.title
          }
        />
      </a>
    ) : null
  }
</div>
